/* import google fonts */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* font-family: "Montserrat", sans-serif; */
}

.navBar {
  @apply flex items-center justify-between w-full fixed top-0 z-20 h-[5.4rem] p-[3.2rem];
}

.navLink {
  @apply text-2xl font-semibold text-[#181b121] mx-[0.8rem] px-[0.8rem] py-[0.4rem] rounded-[0.8rem] bg-transparent hover:bg-[#181b21] hover:bg-opacity-10 transition-all duration-300;
}

.carSection {
  @apply w-full h-screen;
}

.carImage {
  @apply w-full h-full object-cover;
}

.carDetails {
  @apply absolute top-[20%] left-[50%] text-center;
}

.transform50 {
  transform: translate(-50%, -50%);
}

.modelName {
  @apply text-[4rem] text-[#393c41] font-semibold;
}

.tagLine {
  @apply text-[#4c4d51] text-2xl;
}

.carButton {
  @apply absolute top-[85%] left-[50%] flex flex-col sm:flex-row justify-center items-center;
}

.btn {
  @apply text-2xl text-white bg-[#171a20] font-medium uppercase my-2 py-[0.4rem] px-[2.4rem] rounded-[3.2rem] w-[25.5rem] h-16 bg-opacity-80;
}

.inventory {
  @apply text-[#393c41] bg-white bg-opacity-60 sm:ml-8;
}

.downSvg {
  @apply block w-full h-20 mx-auto absolute top-[93%] animate-bounce;
}

.carSection {
  @apply w-full h-screen relative;
}
